Source: share-daemon
Section: web
Maintainer: Neo Natura <support@neo-natura.com>
Priority: standard
Homepage: http://www.sharelib.net/

Package: share-daemon
Architecture: amd64
Description: The share library network synchronization daemon.
